/* Base Styles for Hero Section */
#hero {
  background-color: #222831;
  max-width: 100vw;
  padding: 12% 0;
  background-image: url('/public/assets/floating.svg');
}

/* Container for Hero Content */
.heroContainer {
  padding: 0 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Left Side of Hero Section */
.leftHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  width: 40vw;
}

/* Heading Styles */
.leftHero h1 {
  z-index: 3;
  line-height: 1.3;
  text-align: center;
  font-size: 50px;
  font-weight: 800;

  /* Background Gradient Animation */
  background: linear-gradient(
    to bottom,
    #0D7377,
    #14FFEC,
    #ffffff
  );
  background-clip: padding-box;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Text Movement Animation */
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(px) scale(1.03);
  }
}

/* Paragraph Styles */
.leftHero p {
  width: 30vw;
  margin-top: 20px;
  font-weight: 300;
  line-height: 1.2;
  color: #a3a3a3;
  text-align: center;

  /* Text Movement Animation */
  animation: move 3s infinite ease alternate;
}

/* Right Side of Hero Section */
.rightHero {
  width: 40vw;
  height: 300px;
  position: relative;
}

/* Image Styles */
.rightHero img {
  filter: brightness(75%);
}

/* Media Queries */
@media screen and (max-width: 576px) {
  /* Adjust layout for smaller screens */
  .heroContainer {
    flex-direction: column;
  }

  .leftHero {
    width: 9cm;
  }

  /* Adjust font size for headings and paragraphs */
  .leftHero h1 {
    font-size: 28px;
  }

  .leftHero p {
    width: 70vw;
    margin-top: 10px;
    font-size: 15px;
  }

  /* Adjust size for the right side */
  .rightHero {
    margin-top: 30px;
    width: 90vw;
    height: 200px;
  }
}
