/* Base Styles for Main Section */
.main {
  /* Spacing and Background */
  padding: 100px 0;
  max-width: 100%;
  padding: 50px 0;
  background-image: url('/public/assets/shapes.svg');
  background-color: #222831;
  text-align: center;
}

/* Container for Content Boxes */
.boxContainer {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

/* Main Heading Styles */
.boxContainer h1 {
  color: #EEEEEE;
  font-size: 40px;
  font-weight: 500;
  margin: 20px 0 -2px 0;
}

/* Subheading Styles */
.boxContainer h2 {
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 300;
}

/* Main Content Box Styles */
.mainBox {
  margin-top: 20px;
  padding: 20px;
  background-color: #00ADB5;
  border-radius: 5px;
}

/* Paragraph Styles within Main Box */
.mainBox p {
  margin-top: 20px;
  max-width: 60%;
  text-align: start;
  font-size: 18px;
  line-height: 1.5;
}

/* Right-side Content Box Styles */
.rightMainBox {
  color: black;
  position: absolute;
  padding: 20px;
  top: 140px;
  right: -180px;
  background-color: #14FFEC;
  border-radius: 5px 5px 100px 5px;
  width: 60%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Wave Background Image */
.wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust main section for smaller screens */
  .main {
    height: auto;
  }

  /* Adjust box container margin */
  .boxContainer {
    margin: 0 20px;
  }

  /* Adjust paragraph font size */
  .mainBox p {
    max-width: 100%;
    font-size: 16px;
  }

  /* Hide right-side content on smaller screens */
  .mainBoxText {
    display: none;
  }

  .rightMainBox {
    display: none;
  }
}
