/* Base Styles */
footer {
  color: white;
  background-color: #393E46;
  padding: 20px 0; /* Adjust padding for better spacing on mobile */
  text-align: center;
}

.footerContainer {
  display: flex;
  flex-direction: column; /* Adjust flex-direction for mobile */
  align-items: center;
  padding: 20px; /* Adjust padding for better spacing on mobile */
}

.footerContainer ul {
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Adjust flex-direction for mobile */
  gap: 10px; /* Adjust gap for better spacing on mobile */
  margin-top: 20px; /* Adjust margin for better spacing on mobile */
  padding: 0; /* Remove default padding */
}

.footerContainer ul li {
  list-style-type: none;
}

.footerContainer p {
  margin: 0; /* Remove default margin for better spacing */
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .footerContainer ul {
    gap: 5px; /* Adjust gap for tablet */
  }
}

@media screen and (max-width: 500px) {
  .footerContainer {
    padding: 10px; /* Adjust padding for mobile */
  }

  .footerContainer ul {
    gap: 5px; /* Adjust gap for mobile */
    margin-top: 10px; /* Adjust margin for mobile */
  }
}
